{% extends 'base.html' %}
<!-- Make div to style login form section -->
{% block content %}
<section class="login">
  <h1>Log In</h1>
  <form action="" method="post" class="login-form" novalidate>
    {{ form.hidden_tag() }}
    <div class="labels">
      <p>
        {{ form.email.label }}<br />
        {{ form.email(size=32) }} {% for error in form.email.errors %}
        <span class="error">{{ error }}</span>
        {% endfor %}
      </p>
    </div>
    <div class="labels">
      <p>
        {{ form.password.label }}<br />
        {{ form.password(size=32) }} {% for error in form.password.errors %}
        <span class="error">{{ error }}</span>
        {% endfor %}
      </p>
    </div>
    <div class="labels">
      <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
    </div>
    <div class="signup-signin">
      <div class="labels"><p>{{ form.submit() }}</p></div>
      <div class="signup labels">
        <a href="{{ url_for('register') }}">Sign Up</a>
      </div>
    </div>
  </form>
  {% with messages = get_flashed_messages() %} {% if messages %}
  <ul class="error-sucess-message">
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %} {% endwith %}
</section>
{% endblock %}
