@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

.login {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px;
}

.login h1 {
  color: #127727;
  padding: 36px auto;
  margin-bottom: 36px;
}

.login-form {
  display: flex;
  flex-direction: column;
  background-color: #f6f0f08a;
  padding: 64px 100px;
  padding-bottom: 8px;
  width: 60%;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
}

.labels p {
  color: #127727;
  margin-bottom: 36px;
  font-weight: 700;
  text-align: center;
}

#email,
#password,
#username,
#confirm_password {
  border-color: none;
  border: 1px solid #127727;
  border-radius: 8px;
  padding: 8px;
  margin-top: 8px;
  outline: none;
  caret-color: #127727;
  color: #127727;
}

#submit {
  color: #127727;
  padding: 10px 48px;
  border-radius: 48px;
  border: 1px solid #127727;
  background-color: #fff;
}

.error {
  color: rgb(210, 36, 36);
  display: block;
  margin-top: 4px;
  font-size: 13px;
}

.error-sucess-message {
  background-color: #f6f0f08a;
  padding-bottom: 64px;
  width: 60%;
  font-size: 16px;
  text-align: center;
  color: #122677;
  list-style: none;
}

.signup-signin {
  display: flex;
  align-items: center;
}

.signup {
  color: #127727;
  margin-left: 8px;
  margin-bottom: 36px;
}

.signup a {
  padding: 8px 38px;
  border-radius: 48px;
  background-color: #127727;
  color: #fff;
  font-size: 16px;
}
